<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">I'm Bixby, a developer, a Kali Linux Hacker, a CCNP/MCSE Network & Server Engineer</h1>
      <p class="lead">Over 20 years in financial trading network & server infrastructure system with certified hacking technic to secure program development need. </p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
